---
import Layout from '../layouts/Layout.astro';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import Note from '../components/Notes.astro';

const notes = await getCollection('notes');
const sortedNotes = notes.sort((a, b) => {
  return b.data.date.getTime() - a.data.date.getTime();
});
---

<Layout title="Notes">
  <main>
    <h1>Notes</h1>
    <section>
      {
        sortedNotes.map((note) => (
          <Note note={note} />
        ))
      }
    </section>
  </main>
</Layout>