---

---

<h1>Matthew Mahan</h1>
<h2>Product designer</h2>
<p>I am a software engineer, ui/ux designer, product planner, problem solver, mentor, forever student, minimalist, and eternal optimist.</p>
<p>I love to both build and break things. I am motivated by challenging projects with self-guided research and dynamic problem solving. My true passion is crafting creative front end designs with unique takes on color, typography and motion.</p>
<p>This is my personal space, where I share my work and projects. I also write interactive blog posts about engineering and design.</p>

