<div class="flex inline-flex w-full">
    <div class="w-1/2"><h3>Expereince</h3></div>
    <div class="w-1/2 flex flex-row-reverse">
        <a href="projects.html" class="hover:text-blue-500">See resume</a>
    </div>
</div>

<div>
    <p>StreamlineFS</p>
    <p>Software Engineer</p>
    <p>Nov 2019 - Current</p>
    <p>
        Currently, I am a software engineer at Streamline FS where I do product
        planning, design and development.
    </p>
</div>
