---
---

<div class="max-w-[600px] mx-auto">
  <nav class="py-4">
    <div class="container mx-auto flex items-center justify-between">
      <div class="text-xl font-bold">
        <img src="/src/assets/matthewmahan-logo.svg" alt="" />
      </div>
      <ul class="flex space-x-4 text-sm">
        <li><a href="#" class="hover:text-blue-500">Home</a></li>
        <li><a href="#" class="hover:text-blue-500">Projects</a></li>
        <li>
          <a href="#" class="hover:text-blue-500">Experience</a>
        </li>
        <li><a href="#" class="hover:text-blue-500">Notes</a></li>
        <li><a href="#" class="hover:text-blue-500">About</a></li>
      </ul>
    </div>
  </nav>

  <nav></nav>
</div>